<h1>Show page</h1>
<h2><%= @category.name %></h2>

<ul></ul>
<% @category.bookmarks.each do |bookmark| %>
<li></li>
  <h2><%= bookmark.recipe.name=%> | </h2> <%=link_to "delete", bookmark_path(bookmark), data: {turbo_method: delete turbo_confirm:"Are you Sure?"} %>
  <p><%= bookmark.recipe.description=%></p>
    <%= bookmark.recipe.rating=%>
  <%= bookmark.comment=%>
</li>
<% end %>
</ul>
