<h1>Show page</h1>
<h2><%= @category.name %></h2>

<% @category.bookmarks.each do |bookmark| %>
  <li>
    <h2><%= bookmark.recipe.name %> |</h2>
    <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you Sure?" } %>
    <p><%= bookmark.recipe.description %></p>
    <%= bookmark.recipe.rating %>
    <%= bookmark.comment %>
  </li>
<% end %>

<%= link_to "back to all categories", categories_path %>
<%= link_to "add a new recipe to your list", new_category_bookmark_path(@category) %>
<%= link_to "add a new category", new_category_path %>
